doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Save Our Culture !

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Save Our Culture !

      section
        h2 Batik
      section
        ul
            li Batik adalah kain bergambar yang pembuatannya secara khusus dengan menuliskan atau menerakan malam pada kain itu, kemudian pengolahannya diproses dengan cara tertentu yang memiliki kekhasan. 
            li Batik Indonesia, sebagai keseluruhan teknik, teknologi, serta pengembangan motif dan budaya yang terkait, oleh UNESCO telah ditetapkan sebagai Warisan Kemanusiaan untuk Budaya Lisan dan Nonbendawi (Masterpieces of the Oral and Intangible Heritage of Humanity) sejak 2 Oktober 2009.
      section
        h2 Sejarah Teknik Batik
      section
        ul
            li Seni pewarnaan kain dengan teknik perintang pewarnaan menggunakan malam adalah salah satu bentuk seni kuno. Penemuan di Mesir menunjukkan bahwa teknik ini telah dikenal semenjak abad ke-4 SM, dengan diketemukannya kain pembungkus mumi yang juga dilapisi malam untuk membentuk pola. Di Asia, teknik serupa batik juga diterapkan di Tiongkok semasa Dinasti T'ang (618-907) serta di India dan Jepang semasa Periode Nara (645-794). Di Afrika, teknik seperti batik dikenal oleh Suku Yoruba di Nigeria, serta Suku Soninke dan Wolof di Senegal.[2]. Di Indonesia, batik dipercaya sudah ada semenjak zaman Majapahit, dan menjadi sangat populer akhir abad XVIII atau awal abad XIX. Batik yang dihasilkan ialah semuanya batik tulis sampai awal abad XX dan batik cap baru dikenal setelah Perang Dunia I atau sekitar tahun 1920-an. Walaupun kata "batik" berasal dari bahasa Jawa, kehadiran batik di Jawa sendiri tidaklah tercatat. G.P. Rouffaer berpendapat bahwa tehnik batik ini kemungkinan diperkenalkan dari India atau Srilangka pada abad ke-6 atau ke-7. Di sisi lain, J.L.A .
      section
        ul
            li Brandes (arkeolog Belanda) dan F.A. Sutjipto (sejarawan Indonesia) percaya bahwa tradisi batik adalah asli dari daerah seperti Toraja, Flores, Halmahera, dan Papua. Perlu dicatat bahwa wilayah tersebut bukanlah area yang dipengaruhi oleh Hinduisme tetapi diketahui memiliki tradisi kuna membuat batik. Legenda dalam literatur Melayu abad ke-17, Sulalatus Salatin menceritakan Laksamana Hang Nadim yang diperintahkan oleh Sultan Mahmud untuk berlayar ke India agar mendapatkan 140 lembar kain serasah dengan pola 40 jenis bunga pada setiap lembarnya. Karena tidak mampu memenuhi perintah itu, dia membuat sendiri kain-kain itu. Namun sayangnya kapalnya karam dalam perjalanan pulang dan hanya mampu membawa empat lembar sehingga membuat sang Sultan kecewa. Oleh beberapa penafsir, who? serasah itu ditafsirkan sebagai batik.	Sekarang batik sudah berkembang di beberapa tempat di luar Jawa, bahkan sudah ke manca negara. Di Indonesia batik sudah pula dikembangkan di Aceh dengan batik Aceh, Batik Cual di Riau, Batik Papua, batik Sasirangan Kalimantan, dan Batik Minahasa.

      section
        h2 Macam - Macam Batik
      section
        ul
            li 

      section
        h2 Angklung
      section
        ul
            li adalah alat musik multitonal (bernada ganda) yang secara tradisional berkembang dalam masyarakat Sunda di Pulau Jawa bagian barat. Alat musik ini dibuat dari bambu, dibunyikan dengan cara digoyangkan (bunyi disebabkan oleh benturan badan pipa bambu) sehingga menghasilkan bunyi yang bergetar dalam susunan nada 2, 3, sampai 4 nada dalam setiap ukuran, baik besar maupun kecil.
            li Dictionary of the Sunda Language karya Jonathan Rigg, yang diterbitkan pada tahun 1862 di Batavia, menuliskan bahwa angklung adalah alat musik yang terbuat dari pipa-pipa bambu, yang dipotong ujung-ujungnya, menyerupai pipa-pipa dalam suatu organ, dan diikat bersama dalam suatu bingkai, digetarkan untuk menghasilkan bunyi.Angklung terdaftar sebagai Karya Agung Warisan Budaya Lisan dan Nonbendawi Manusia dari UNESCO sejak November 2010.
      section
        h2 Asal Usul Angklung
      section
        ul
            li Anak-anak Jawa Barat bermain angklung di awal abad ke-20. Tidak ada petunjuk sejak kapan angklung digunakan, tetapi diduga bentuk primitifnya telah digunakan dalam kultur Neolitikum yang berkembang di Nusantara sampai awal penanggalan modern, sehingga angklung merupakan bagian dari relik pra-Hinduisme dalam kebudayaan Nusantara. Catatan mengenai angklung baru muncul merujuk pada masa Kerajaan Sunda (abad ke-12 sampai abad ke-16). Asal usul terciptanya musik bambu, seperti angklung berdasarkan pandangan hidup masyarakat Sunda yang agraris dengan sumber kehidupan dari padi (pare) sebagai makanan pokoknya. Hal ini melahirkan mitos kepercayaan terhadap Nyai Sri Pohaci sebagai lambang Dewi Padi pemberi kehidupan (hirup-hurip). Masyarakat Baduy, yang dianggap sebagai sisa-sisa masyarakat Sunda asli, menerapkan angklung sebagai bagian dari ritual mengawali penanaman padi. 
      section 
        ul  
            liPermainan angklung gubrag di Jasinga, Bogor, adalah salah satu yang masih hidup sejak lebih dari 400 tahun lampau. Kemunculannya berawal dari ritus padi. Angklung diciptakan dan dimainkan untuk memikat Dewi Sri turun ke bumi agar tanaman padi rakyat tumbuh subur. Jenis bambu yang biasa digunakan sebagai alat musik tersebut adalah bambu hitam (awi wulung) dan bambu putih (awi temen). Tiap nada (laras) dihasilkan dari bunyi tabung bambunya yang berbentuk bilah (wilahan) setiap ruas bambu dari ukuran kecil hingga besar. Dikenal oleh masyarakat sunda sejak masa kerajaan Sunda, di antaranya sebagai penggugah semangat dalam pertempuran.
            li Fungsi angklung sebagai pemompa semangat rakyat masih terus terasa sampai pada masa penjajahan, itu sebabnya pemerintah Hindia Belanda sempat melarang masyarakat menggunakan angklung, pelarangan itu sempat membuat popularitas angklung menurun dan hanya dimainkan oleh anak- anak pada waktu itu. Selanjutnya lagu-lagu persembahan terhadap Dewi Sri tersebut disertai dengan pengiring bunyi tabuh yang terbuat dari batang-batang bambu yang dikemas sederhana yang kemudian lahirlah struktur alat musik bambu yang kita kenal sekarang bernama angklung.
      section
        ul
            li Demikian pula pada saat pesta panen dan seren taun dipersembahkan permainan angklung. Terutama pada penyajian Angklung yang berkaitan dengan upacara padi, kesenian ini menjadi sebuah pertunjukan yang sifatnya arak-arakan atau helaran, bahkan di sebagian tempat menjadi iring-iringan Rengkong dan Dongdang serta Jampana (usungan pangan) dan sebagainya. Dalam perkembangannya, angklung berkembang dan menyebar ke seantero Jawa, lalu ke Kalimantan dan Sumatera. Pada 1908 tercatat sebuah misi kebudayaan dari Indonesia ke Thailand, antara lain ditandai penyerahan angklung, lalu permainan musik bambu ini pun sempat menyebar di sana. Bahkan, sejak 1966, Udjo Ngalagena —tokoh angklung yang mengembangkan teknik permainan berdasarkan laras-laras pelog, salendro, dan madenda— mulai mengajarkan bagaimana bermain angklung kepada banyak orang dari berbagai komunitas.
      section
        h2 Jenis - Jenis Angklung
      section
        ol
            li Angklung Kanekes
            li Angklung Reyog
            li Angklung Banyuwangi
            li Angklung Bali
            li Angklung Dogdog Lojor
            li Angklung Gubrag
            li Angklung Badeng
      section
        ol
            li Angklung Buncis
            li Angklung Padaeng
            li Angklung Sarinande
            li Angklung Toel
            li Angklung Sri-Murni
            li Angklung Angklung
            li Angklung Padaeng
            li Angklung solo
      section
        h2 Wayang Kulit
      section
        ul
            li Wayang kulit adalah seni tradisional Indonesia yang terutama berkembang di Jawa. Wayang berasal dari kata 'Ma Hyang' yang artinya menuju kepada roh spiritual, dewa, atau Tuhan Yang Maha Esa. Ada juga yang mengartikan wayang adalah istilah bahasa Jawa yang bermakna 'bayangan', hal ini disebabkan karena penonton juga bisa menonton wayang dari belakang kelir atau hanya bayangannya saja. Wayang kulit dimainkan oleh seorang dalang yang juga menjadi narator dialog tokoh-tokoh wayang, dengan diiringi oleh musik gamelan yang dimainkan sekelompok nayaga dan tembang yang dinyanyikan oleh para pesinden. Dalang memainkan wayang kulit di balik kelir, yaitu layar yang terbuat dari kain putih, sementara di belakangnya disorotkan lampu listrik atau lampu minyak (blencong), sehingga para penonton 
      section
        ul
            li yang berada di sisi lain dari layar dapat melihat bayangan wayang yang jatuh ke kelir. Untuk dapat memahami cerita wayang (lakon), penonton harus memiliki pengetahuan akan tokoh-tokoh wayang yang bayangannya tampil di layar. Secara umum wayang mengambil cerita dari naskah Mahabharata dan Ramayana, tetapi tak dibatasi hanya dengan pakem (standard) tersebut, ki dalang bisa juga memainkan lakon carangan (gubahan). Beberapa cerita diambil dari cerita Panji. Pertunjukan wayang kulit telah diakui oleh UNESCO pada tanggal 7 November 2003, sebagai karya kebudayaan yang mengagumkan dalam bidang cerita narasi dan warisan yang indah dan berharga ( Masterpiece of Oral and Intangible Heritage of Humanity ). Wayang kulit lebih populer di Jawa bagian tengah dan timur, sedangkan wayang golek lebih sering dimainkan di Jawa Barat.
      section
        h2 Jenis - Jenis Wayang Kulit Berdasarkan Daerahnya
      section
        ol
            li Wayang Kulit Cengkok Kedu 
            li Wayang Kulit Gagrag Yogyakarta
            li Wayang Kulit Gagrag Surakarta
            li Wayang Kulit Gagrag Banyumasan
            li Wayang Kulit Gagrag Jawa Timuran
            li Wayang Bali
            li Wayang Kulit Banjar (Kalimantan Selatan)
            li Wayang Palembang (Sumatera Selatan)
            li Wayang Betawi (Jakarta)
            li Wayang Kulit Cirebon (Jawa Barat)
            li Wayang Madura (sudah punah)
            li Wayang Siam
      section
        h2 Dalang Wayang Kulit 
      section
        ul
            li Dalang adalah bagian terpenting dalam pertunjukan wayang kulit (wayang purwa). Dalam terminologi bahasa jawa, dalang (halang) berasal dari akronim ngudhal Piwulang. Ngudhal artinya membongkar atau menyebar luaskan dan piwulang artinya ajaran, pendidikan, ilmu, informasi. Jadi keberadaan dalang dalam pertunjukan wayang kulit bukan saja pada aspek tontonan (hiburan) semata, tetapi juga tuntunan. 
            li Oleh karena itu, disamping menguasai teknik pedalangan sebagai aspek hiburan, dalang haruslah seorang yang berpengetahuan luas dan mampu memberikan pengaruh. Dalang-dalang wayang kulit yang mencapai puncak kejayaan dan melegenda antara lain: 
      section
        ol
            li almarhum Ki Tristuti Rachmadi (Solo)
            li almarhum Ki Narto Sabdo (Semarang, gaya Solo)
            li almarhum Ki Surono (Banjarnegara, gaya Banyumas)
            li almarhum Ki Timbul Hadi Prayitno (Yogya)
            li almarhum Ki Hadi Sugito (Kulonprogo, Jogjakarta)
            li Ki Soeparman (gaya Yogya)
            li Ki Anom Suroto (gaya Solo)
            li Ki Manteb Sudarsono (gaya Solo)
            li Ki Enthus Susmono
            li Ki Agus Wiranto
            li almarhum Ki Suleman (gaya Jawa Timur)
            li Sedangkan Pesinden yang legendaris adalah almarhumah Nyi Tjondrolukito.
      section
        h2 Reog Ponorogo
      section
        ul
            li Reog adalah salah satu kesenian budaya yang berasal dari Jawa Timur bagian barat-laut dan Ponorogo dianggap sebagai kota asal Reog yang sebenarnya.
            li Gerbang kota Ponorogo dihiasi oleh sosok warok dan gemblak, dua sosok yang ikut tampil pada saat reog dipertunjukkan. Reog adalah salah satu budaya daerah di Indonesia yang masih sangat kental dengan hal-hal yang berbau mistik dan ilmu kebatinan yang kuat.
            li Reog ponorogo ini pernah di claim malaysia sebagai warisan budaya mereka.Itu lah sebab nya kami membahas tentang Reong Ponorogo ini sebagai kebudayaan Indonesia yang perlu diselamatkan dan dilestarikan.
      section
        h2 Tokoh Dalam Seni Reog Ponorogo
      section
        ol
            li Jathil
            li Warok
            li Barongan
            li Klono Sewando
            li Bujang Ganongan
      section
      section
      section
      section
      section
      section
      section
      section
      section
      section
    script(src='build/build.js')